{% extends 'base.html.twig' %}

{% block title %}Merk overzicht{% endblock %}

{% block body %}
    <div class="list-group list-group-horizontal">

        {% for merk in merken %}
            <a href="/merk/{{ merk.id }}" class="list-group-item">{{ merk.naam }}</a>
        {% endfor %}

    </div>
{% endblock %}
