{% extends 'base.html.twig' %}

{% block title %}Motorblok overzicht{% endblock %}

{% block body %}
    <div class="list-group list-group-horizontal">

        {% for motor in motors %}
            <a href="/motor/{{ motor.id }}" class="list-group-item">{{ motor.naam }}</a>
        {% endfor %}

    </div>
{% endblock %}
